<!-- crud_project/myapp/templates/myapp/update.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD App - Update</title>
</head>
<body>
    <h1>Edit Object</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ my_object.name }}"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ my_object.description }}</textarea><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
